# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcuserdata/
*.xcworkspace/
.DS_Store

# Swift
.build/
.swiftpm/
*.swiftpm/

# macOS
*.dSYM/
*.dylib
DerivedData/

# Package
Package.resolved

# IDE
.vscode/
.idea/

# Logs
*.log
*.code-workspace
/CopyPathFinder.app
/\#src
/CopyPathFinder_v1.0.0.dmg
/test
/local_res
/CopyPathFinder_v1.0.dmg
/dist
